
body {
    background-color: black;
    color: white;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
    vertical-align: center;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(20px, 65px)
    /* 45 is really 360 - 45 */
    rotate(290deg);
  width: 0px
}
th.rotate > div > span {
  border-bottom: 1px solid grey;
  padding: 5px 10px;
}

table {
position: absolute;
top: 220px;
border: 1px;
}

td {
    width: 3em;
    xborder-right: solid grey 1px;
}

div.A {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
}
div.B {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

div.DEAD {
    background-color: deeppink;
    color: black;
    font-weight: bold;
}

th {
    text-align: left;
    vertical-align: center;
}

span.headline {
    xbackground-color: red;
    color: red;
    font-weight: bold;
    font-size: 150%;
    font-decoration: bold; 
}
span.sumsum {
    xbackground-color: red;
    color: red;
    font-weight: bold;
    font-size: 150%;
    font-decoration: bold; 
}
